{% extends './base.html' %}

{% load static %}

{% block body %}

    <header>

        <div class="header-content container">
            <h1>Productos</h1>
        </div>

    </header>

    <div class="contenedor-padre">
        <div class="contenedor">
            <div class="card" style="width: 18rem;">
                <img src="img/Producto1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Set Jardinería</h5>
                    <p class="card-text">$22.990</p>
                    <a href="carrito.html" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="contenedor">
            <div class="card" style="width: 18rem;">
                <img src="img/Producto2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Guantes</h5>
                    <p class="card-text">$6.990</p>
                    <a href="carrito.html" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <div class="contenedor">
            <div class="card" style="width: 18rem;">
                <img src="img/Producto3.jpg" class="card-img-top" height="250px">
                <div class="card-body">
                    <h5 class="card-title">Maceteros</h5>
                    <p class="card-text">$16.990</p>
                    <a href="carrito.html" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}